In [2]:
import pandas as pd 
import os 
import numpy as np

In [7]:
df = pd.read_csv(r'C:\Users\Rodrigo Correa\Desktop\Treino\CrimeDate.csv' , encoding = "UTF-8",sep = ",")

In [8]:
df.head()

         date         primary_type  crime_count  arrest_count  false_count
0  2001-01-01  MOTOR VEHICLE THEFT           59             9           50
1  2001-01-01    WEAPONS VIOLATION           32            26            6
2  2001-01-01   DECEPTIVE PRACTICE           78            16           62
3  2001-01-01    CRIMINAL TRESPASS           29            17           12
4  2001-01-01             GAMBLING            2             2            0

In [21]:
df = df.rename(columns={"date":"Data","primary_type":"Tipo_Primario","crime_count":"Contagem_Crimes"
                   ,"arrest_count":"Contagem_Prisao","false_count":"Contagem_Falsos"})

In [36]:
print(df.info())
df["Data"] = pd.to_datetime(df["Data"])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141855 entries, 0 to 141854
Data columns (total 5 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Data             141855 non-null  datetime64[ns]
 1   Tipo_Primario    141855 non-null  object
 2   Contagem_Crimes  141855 non-null  int64
 3   Contagem_Prisao  141855 non-null  int64
 4   Contagem_Falsos  141855 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 5.4+ MB
None

In [38]:
df["Ano_Crime"] = df["Data"].dt.year
df["Ano_Crime"].head()

0    2001
1    2001
2    2001
3    2001
4    2001
Name: Ano_Crime, dtype: int64

In [62]:
df.loc[(df["Data"].dt.year >= 2020)]

C:\Users\Rodrigo Correa\AppData\Local\Temp\ipykernel_14572\3815537686.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.loc[(df["Data"].dt.year >= 2020)].sum()

Tipo_Primario      ASSAULTTHEFTOTHER OFFENSEROBBERYCRIMINAL SEXUA...
Contagem_Crimes                                               446052
Contagem_Prisao                                                70064
Contagem_Falsos                                               375988
Ano_Crime                                                   24549953
dtype: object